  <h2 class="title-box">Our story begins...</h1>
  <img class="central-img" src="../public/images/dragonimg_test2.jpg" alt="dragonimg_test" />
  <div class="flex-bottom">
    <div class="story-box">
      <div id="story-text">
    </div>
    <div class="options-box">
      <div class="button">
        <button class="aggro-button" id="attackButton" type="button" name="button">Attack!</button>
        <button class="passive-button" id="resetButton" type="button" name="button">Run Away!</button>
      </div>
    </div>
  </div>
</div>
